<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="rwinder98k_odyssey" frontName="rwinder98k_odyssey">
            <module name="Rwinder98k_Odyssey"/>
        </route>
    </router>
</config>

